/// Modifiers

// Modifiers > Borders

.with-border {
  border: 1px solid $grey-light-color;
}
.is-rounded {
  border-radius: $default-border-radius;
}

// Modifiers > Fills

.fill-white {
  background: $white;
  color: $background-color;
}
