/// Typography

// Typography > Global
body, select, input, textarea {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $sans-serif-stack;
  color: $text-color;
}

// Typography > Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-stack;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
}
h1 {
  font-size: $m-font-size-1;
  line-height: 1;

  @include respond-to(med) {
    font-size: $font-size-1;
    line-height: 0.8;
  }
}
h2 {
  font-size: $m-font-size-2;
  line-height: 1.2;

  @include respond-to(med) {
    font-size: $font-size-2;
  }
}
h3 {
  font-size: $m-font-size-3;
  line-height: 1.3;

  @include respond-to(med) {
    font-size: $font-size-3;
  }
}

// Typography > Text
p {
  margin-bottom: $gutter;
}
p:last-of-type {
  margin-bottom: 0;
}
.text-serif {
  font-family: $serif-stack;
}

// Typography > Text > Modifiers
strong {
  font-weight: $bold-font-weight;
}
em {
  font-style: italic;
}
small {
  display: block;
  font-size: $m-font-size-6;

  @include respond-to(med) {
    font-size: $font-size-6;
  }
}
.text-loud {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-white {
  color: $white;
}
.text-meta {
  color: $grey-light-color;
}
.text-brand {
  color: $brand-color;
}
.text-warn {
  color: $warn-color;
}
.text-success {
  color: $success-color;
}


// Typography > Links
a,
button,
input[type=submit],
.faux-link {
  transition: $default-transition;
}
a,
.faux-link {
  color: $brand-color;
  text-decoration: underline;
}
a:hover,
a:focus,
button:hover,
button:focus,
.faux-link:hover,
.faux-link:focus {
  color: $brand-dark-color;
}
