/// Buttons

// Button > Animation
// NOTE: this mixin is a workaround because CSS animations can't be restarted
$step: 6%;
@mixin button-gradient-animation {
  @for $i from 0 through 10 {
    #{$i*10%} {
      background: linear-gradient(
        #{150 - ($i*6)}deg,
        #{$gradient-purple-color} 0%,
        #{$gradient-purple-color} #{$i*$step},
        #{$gradient-blue-color} 100%
      );
    }
  }
}

@keyframes cta-hover {
  @include button-gradient-animation;
}
@keyframes cta-mouseout {
  @include button-gradient-animation;
}

// Button > Default
.btn {
  display: inline-block;
  padding: $gutter $gutter*2 ($gutter + 2);
  overflow: hidden;
  animation: cta-mouseout .2s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  background-color: $gradient-purple-color;
  background-image: $default-gradient;
  border: none;
  border-radius: $default-border-radius;
  color: $white;
  cursor: pointer;
  font-family: $heading-stack;
  font-size:  $m-font-size-3;
  font-weight: $bold-font-weight;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
    -moz-user-select:    none;
    -webkit-user-select: none;
  user-select:           none;
  -webkit-appearance: none;

  @include respond-to(med) {
    padding-right: $gutter*4;
    padding-left:  $gutter*4;
    font-size:  $font-size-3;
  }
}
.btn:hover,
.btn:focus {
  animation: cta-hover .2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  background: $gradient-blue-color;
  border: none;
  color: $white;
}
button.btn {
  vertical-align: top;
}
.btn::-moz-focus-inner {
  outline: none;
  border: 0;
}

// Buttons > Block
.btn.btn-block {
  display: block;
  width: 100%;
}

// Buttons > Small
.btn.btn-sml {
  padding: $gutter $gutter;
  font-size: $font-size-6;
}
.btn.btn-sml img {
  display: inline-block;
  max-height: $gutter*2 - 2px;
  width: auto;
  margin-right: $gutter;
  vertical-align: top;
}

// Buttons > Alt
.btn.btn-alt {
  animation: none;
  background: $grey-med-color;
  color: $white;
}
.btn.btn-alt:hover,
.btn.btn-alt:focus {
  background: $grey-light-color;
  color: $white;
}

// Buttons > Disabled
.btn:disabled,
.btn[disabled],
.btn:disabled:hover,
.btn[disabled]:hover,
.btn:disabled:focus,
.btn[disabled]:focus {
  animation: none;
  background: transparent;
  border: 1px solid $grey-med-color;
  color: $grey-med-color;
  cursor: default;
}

// Buttons > Sharing
.btn.btn-twitter {
  background-color: $twitter-color;
}
.btn.btn-twitter:hover,
.btn.btn-twitter:focus {
  background: $twitter-dark-color;
  color: $white;
}
.btn.btn-facebook {
  background-color: $facebook-color;
}
.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
  background: $facebook-dark-color;
  color: $white;
}
