// Page Footer

.page-footer {
  background-color: $gradient-purple-color;
  background-image: $default-gradient;
}
.page-footer a {
  border-color: $white;
  color: $white;
  font-weight: $bold-font-weight;
}
